body{
  background-color: rgb(193, 139, 193);
  background-image: url("C:\Users\hp\OneDrive\Desktop\html css\st4\my-app\download.jpg");
  background-size: cover;
  background-position: center;
}
.inputt{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.inputt form{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;

}

.inputt form .submit-btn{
  width: 100%;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius:  5px;
  font-weight: bold;
  font-size: 12px; 
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px; 
}
h1{
  color: rgb(97, 0, 97);
  text-align: center;
}


.inputt form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputt form .inputbox input{
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.inputt form .data .showdata{
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}
